# Data_Load

In [19]:
import pandas as pd
from seaborn import load_dataset

original = load_dataset("titanic")
collist  =  ['sex','age','fare','class','survived']
Df       =   original[collist].copy()
target   =   'survived'

In [20]:
test = Df.head(10)

In [30]:
test

      sex   age     fare   class  survived
0    male  22.0   7.2500   Third         0
1  female  38.0  71.2833   First         1
2  female  26.0   7.9250   Third         1
3  female  35.0  53.1000   First         1
4    male  35.0   8.0500   Third         0
5    male   NaN   8.4583   Third         0
6    male  54.0  51.8625   First         0
7    male   2.0  21.0750   Third         0
8  female  27.0  11.1333   Third         1
9  female  14.0  30.0708  Second         1

In [28]:
import numpy as np
def rollin(x):
  return np.zeros_like(x)
from sklearn.preprocessing import FunctionTransformer
from sklearn.compose import ColumnTransformer

In [31]:
ct = ColumnTransformer(transformers=[("justZero",FunctionTransformer(rollin),["age"])]
                       ,remainder='passthrough')

ct.fit_transform(test)

array([[0.0, 'male', 7.25, 'Third', 0],
       [0.0, 'female', 71.2833, 'First', 1],
       [0.0, 'female', 7.925, 'Third', 1],
       [0.0, 'female', 53.1, 'First', 1],
       [0.0, 'male', 8.05, 'Third', 0],
       [0.0, 'male', 8.4583, 'Third', 0],
       [0.0, 'male', 51.8625, 'First', 0],
       [0.0, 'male', 21.075, 'Third', 0],
       [0.0, 'female', 11.1333, 'Third', 1],
       [0.0, 'female', 30.0708, 'Second', 1]], dtype=object)

In [13]:
Df['age']=Df['age'].fillna(Df['age'].rolling(window=3,min_periods=1).mean())

***
# Production 
***

## Test and Evaluate

# Front End